In [1]:
a = 10
b = 20
sum = a + b
print("Sum =", sum)

Sum = 30

In [2]:
name = input("Enter your name: ")
print("Hello", name)

Enter your name: anjali
Hello anjali

In [3]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number: 4
Even

In [5]:
a = int(input("Enter a: "))
b = int(input("Enter b: "))
c = int(input("Enter c: "))

largest = max(a, b, c)
print("Largest number is:", largest)

Enter a: 3
Enter b: 5
Enter c: 2
Largest number is: 5

In [6]:
num = int(input("Enter a number: "))
fact = 1

for i in range(1, num + 1):
    fact *= i

print("Factorial:", fact)

Enter a number: 4
Factorial: 24

In [7]:
n = int(input("How many terms? "))
a, b = 0, 1

for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b

How many terms? 2
0 1

In [8]:
num = int(input("Enter a number: "))

if num > 1:
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            print("Not Prime")
            break
    else:
        print("Prime")
else:
    print("Not Prime")

Enter a number: 5
Prime

In [11]:
text = input("Enter a string: ")

if text == text[::-1]:
    print("Palindrome")
else:
    print("Not a Palindrome")

Enter a string: 3
Palindrome

In [12]:
text = input("Enter a string: ")
vowels = "aeiouAEIOU"
count = 0

for ch in text:
    if ch in vowels:
        count += 1

print("Number of vowels:", count)

Enter a string: 7
Number of vowels: 0

In [13]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b if b != 0 else "Cannot divide by zero")

Enter first number: 2
Enter second number: 5
Addition: 7.0
Subtraction: -3.0
Multiplication: 10.0
Division: 0.4

In [15]:
num = int(input("Enter a number: "))

for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number: 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30